<header>
  <mat-toolbar>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="revealAnswers()">
        <mat-icon>visibility</mat-icon>
        <span>Reveal</span>
      </button>

      <button mat-menu-item (click)="clickNewGame()">
        <mat-icon>refresh</mat-icon>
        <span>New Game</span>
      </button>
    </mat-menu>

    <span class="flex-grow-1 text-align-center">Palabs</span>

    <a
      class="github-logo d-flex align-items-center"
      target="_blank"
      href="https://github.com/tarrball/palabritas"
    >
      <img
        src="../../../assets/github-mark-white.png"
        alt="GitHub logo"
        aria-label="View on GitHub"
      />
    </a>
  </mat-toolbar>
</header>
