<main class="flex-grow-1">
  <div class="flex-center-between">
    <div>
      Points: <span class="points">{{ earnedPoints$ | async }}</span>
    </div>
    <div>
      Total Points: <span class="points">{{ potentialPoints$ | async }}</span>
    </div>
  </div>

  <div class="flex-center hori-scroll answers-container">
    <div
      class="flex-center word"
      *ngFor="let answer of answers$ | async"
      [id]="answer.word"
    >
      <span class="letter" *ngFor="let letter of answer.letters">
        {{ answer.isFound ? letter : "_" }}
      </span>
    </div>
  </div>

  <div class="flex-center-center letter-button-container">
    <button
      mat-raised-button
      *ngFor="let letter of clickedLetters$ | async"
      (click)="clickLetter(letter)"
    >
      {{ letter.value }}
    </button>
  </div>

  <div class="flex-center-center letter-button-container">
    <button
      mat-raised-button
      *ngFor="let letter of clickableLetters$ | async"
      (click)="clickLetter(letter)"
    >
      {{ letter.value }}
    </button>
  </div>

  <div class="flex-center-end">
    <button mat-raised-button (click)="clickEnter()">Enter</button>
  </div>
</main>
