.points
  font-weight: bold

.answers-container
  height: 160px

.letter-button-container
  min-height: 96px

  button
    margin: 0 4px
    transition: all 0.3s ease-in-out

  @media screen and (max-width: 375px)
    button
      min-width: 14.5%

.word
  font-size: 24px
  padding: 0 8px

.word-separator
  font-size: 24px
  padding: 0 12px
  color: #666

.letter
  padding: 0 4px
