<header>
  <mat-toolbar>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="clickNewGame()">New Game</button>
    </mat-menu>

    <!-- <span>Palabritas</span> -->
    <span class="flex-grow-1 text-align-center">Palabritas</span>

    <a
      class="github-logo d-flex align-items-center"
      target="_blank"
      href="https://github.com/tarrball/palabritas"
    >
      <img
        src="../../../assets/github-mark-white.png"
        alt="GitHub logo"
        aria-label="View on GitHub"
      />
    </a>
  </mat-toolbar>
</header>

<main class="flex-grow-1">
  <div class="flex-center-between">
    <div>Points: {{ earnedPoints$ | async }}</div>
    <div>Total Points: {{ potentialPoints$ | async }}</div>
  </div>

  <div class="flex-center hori-scroll answers-container">
    <div
      class="flex-center word"
      *ngFor="let answer of answers$ | async"
      [id]="answer.word"
    >
      <span class="letter" *ngFor="let letter of answer.letters">
        {{ answer.isFound ? letter : "_" }}
      </span>
    </div>
  </div>

  <div class="flex-center-center letter-button-container">
    <button
      mat-raised-button
      *ngFor="let letter of clickedLetters$ | async"
      (click)="clickLetter(letter)"
    >
      {{ letter.value }}
    </button>
  </div>

  <div class="flex-center-center letter-button-container">
    <button
      mat-raised-button
      *ngFor="let letter of clickableLetters$ | async"
      (click)="clickLetter(letter)"
    >
      {{ letter.value }}
    </button>
  </div>

  <div class="flex-center-end">
    <button mat-raised-button (click)="clickEnter()">Enter</button>
  </div>
</main>
