.container
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 500px
  min-height: 100px

.answer-container
  display: flex
  align-items: center
  justify-content: space-between
  min-height: 300px
  overflow-x: auto

.word
  display: flex
  align-items: center
  font-size: 24px
  padding: 0 8px

.letter
  padding: 0 8px
