/* Base */

body
  margin: 0
  
/* Utilities */

.d-flex
  display: flex !important

.align-items-center
  align-items: center !important

.flex-grow-1
  flex-grow: 1 !important

.justify-content-center
  justify-content: center !important

.justify-content-between
  justify-content: space-between !important

.justify-content-end
  justify-content: flex-end !important

.h-100
  height: 100% !important

.w-100
  width: 100% !important

.flex-center
  @extend .d-flex
  @extend .align-items-center

.flex-center-center
  @extend .flex-center
  @extend .justify-content-center

.flex-center-between
  @extend .flex-center
  @extend .justify-content-between

.flex-center-end
  @extend .flex-center
  @extend .justify-content-end

.hori-scroll
  overflow-x: auto

.spacer
  flex: 1 1 auto

.text-align-center
  text-align: center

/* Material Overrides */

app-game 
  .mdc-button
    min-width: 50px
